@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  padding-top: 3.5rem;
}

.loading-mask {
    position: fixed;
    opacity: .75;
    background-color: gray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
}

.loading-mask:after {
    position: fixed;
    opacity: .5;
    color: #000;
    content: '\f110';
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16vw;
    margin-top: 42vh;
    margin-left: 42vw;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    z-index: 100000001;
}

.triggered-fee-list {
    margin-top: 25px;
}

.triggered-fee-list .list-group{
    margin-top: 10px;
}

.selected-fee-form {
    padding: 35px;
}

.report {
    padding: 25px;
}

.report h3 {
    padding-top: 10px;
}

.report .fee-report {
    padding: 20px;
}

.fee-report .report-content {
    padding-left: 20px;
}