@import url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css");
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("//cdnjs.cloudflare.com/ajax/libs/openlayers/4.3.1/ol.css");
@import url("//fonts.googleapis.com/css?family=Titillium Web");
@import url("//fonts.googleapis.com/css?family=Offside");
body {
    font-family: Titillium Web, sans-serif;
    padding-top: 4.1rem;
    color: rgb(78, 78, 78);
    background-color: #f1f1f1;
}

nav {
    background-color: #f1f1f1;
    border-bottom: solid rgb(198, 198, 198) 1px;
}

a, .ready-check-circle {
    color: #6091b3;
}

hr {
    border-top: 1px solid rgba(249, 149, 32, 1);
}

.form-jhl-radio-group {
    font-size: 0.9em;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.navbar-brand, .jumbotron h1 {
    font-family: Offside;
}

.jumbotron {
    background: transparent;
    color: rgb(240, 240, 240);
    text-shadow: 1px 1px rgb(60, 60, 60);
    position: relative;
    padding:2rem 2rem;
}

.jumbotron::after {
    content: "";
    background-image: url("img/background.jpg");
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.logo-large {
    height: 70px;
    border-radius: 5px;
    border: 1px solid rgba(80, 80, 80, 0.4);
    opacity: 0.85;
}

.list-group-item.active, .btn-primary, .nav-item.active {
    background-color: #6091b3;
    border-color: #6091b3;
}

.list-group-item:hover {
    background-color: #c5ecfe;
    border-color: #c5ecfe;
    cursor: pointer;
}

.list-group-item.active:hover, .btn-primary:hover {
    background-color: #61afd2;
    border-color: #61afd2;
    cursor: pointer;
}

.btn-primary.disabled, .btn-primary:disabled, .btn-primary.disabled:hover, .btn-primary:disabled:hover {
    background-color: #98b5c8;
    border-color: #98b5c8;
    cursor: default;
}

.nav-link {
    line-height: 2em;
}

.nav-item.active a {
    color: #f1f1f1;
}

.btn, .list-group-item:first-child, .list-group-item:last-child, .modal-content, .nav-item {
    border-radius: 3.5px;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.loading-mask {
    position: fixed;
    opacity: .75;
    background-color: gray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
}

.loading-mask:after {
    position: fixed;
    opacity: .5;
    color: #000;
    content: '\f110';
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16vw;
    margin-top: 42vh;
    margin-left: 42vw;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    z-index: 100000001;
}

.triggered-fee-list {
    margin-top: 35px;
}

.triggered-fee-list .list-group {
    margin-top: 10px;
    cursor: pointer;
}

.selected-fee-form {
    padding: 35px;
}

.selected-fee-form .form-group {
    padding: 20px 20px 0 20px;
}

.report {
    padding: 25px;
    position: relative;
}

.report .report-date {
    font-size: 1.25em;
    position: absolute;
    right: 30px;
    top: 40px;
}

.report h3 {
    padding-top: 10px;
}

.report .fee-report {
    padding: 20px;
}

.fee-report .report-content {
    padding-left: 20px;
    margin-bottom: 10px;
}

.fee-report h3 {
    padding-bottom: 15px;
}

.ready-check, .geocoder .fa-check {
    color: rgb(42, 162, 0);
}

.geocoder .fa-times-circle {
    color: rgb(221, 35, 2);
}

.geocoder input.shake {
    border-color: rgb(221, 35, 2);
}

.ready-check-circle {
    font-size: 1.6em;
}

.ready-check-background {
    color: #f1f1f1;
    font-size: 1.5em;
}

.list-group-item .ready-check-background {
    color: white;
}

.nav-link.disabled .ready-check-circle {
    color: #868e96;
}

.form-details {
    margin-top: 15px;
}

.print-btn {
    margin-left: 16px;
}

.link-btn {
    position: absolute;
    right: 10px;
    top: 14px;
}

.calculated-fee {
    float: right;
}

.ol-map {
    background-color: white;
    border: solid 1px #a6a6a6;
    margin-bottom: 15px;
    position: relative;
}

.next-btn {
    float: right;
    margin: 20px;
}

.no-fees-triggered {
    padding: 30px;
}

.geocoder {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 50px;
    /*width: 250px;*/
    z-index: 1000;
}

.geocoder input {
    padding-right: 30px;
    position: relative;
}

.search-btn {
    position: absolute;
    top: 6px;
    right: 10px;
    z-index: 1001;
    cursor: pointer;
}

.search-btn i {
    position: relative;
}

.shake {
    -moz-animation: shake 0.3s;
    -webkit-animation: shake 0.3s;
    animation: shake 0.3s;
}

.disclaimer {
    margin-top: 50px;
    padding: 20px;
    font-size: 0.8em;
}

.restart-btn {
    margin-left: 5px;
}

.btn-warning {
    background-color: #e4963d;
    border-color: #e4963d;
    color: white;
}

.btn-warning:hover {
    background-color: #e08925;
    border-color: #e08925;
    color: white;
    cursor: pointer;
}

.cannot-calc, .fee-tier.tier-not-found {
    color: rgb(158, 49, 42);
}

.fee-tier {
    padding: 12px;
    font-size: 1.6em;
}

.fee-tier.tier-not-found, .fee-tier .tier-value {
    font-weight: bold;
}

.affordable-fee-name{
    font-size: 24px;
    font-weight: bold;
}

@-moz-keyframes shake {
    0%, 100% {
        left: 0px;
    }
    20%, 60% {
        left: 15px;
    }
    40%, 80% {
        left: -15px;
    }
}

@-webkit-keyframes shake {
    0%, 100% {
        left: 0px;
    }
    20%, 60% {
        left: 15px;
    }
    40%, 80% {
        left: -15px;
    }
}

@keyframes shake {
    0%, 100% {
        left: 0px;
    }
    20%, 60% {
        left: 15px;
    }
    40%, 80% {
        left: -15px;
    }
}

@media print {
    .print-btn {
        display: none;
    }
    .link-btn {
        display: none;
    }
    .navbar {
        display: none;
    }
    body {
        padding-top: 0;
    }
}
