@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Titillium Web");
@import url("https://fonts.googleapis.com/css?family=Offside");

body {
    font-family: Titillium Web, sans-serif;
    padding-top: 4.1rem;
    color: rgb(78, 78, 78);
    background-color: #f1f1f1;
}

nav {
    background-color: #f1f1f1;
    border-bottom: solid rgb(198, 198, 198) 1px;
}

a, .ready-check-circle {
    color: #4994e4;
}

hr {
    border-top: 1px solid rgba(249, 149, 32, 1);
}

.navbar-brand, .jumbotron h1 {
    font-family: Offside;
}

.jumbotron {
    background: transparent;
    color: rgb(240, 240, 240);
    text-shadow: 1px 1px rgb(60, 60, 60);
    position: relative;
}

.jumbotron::after {
  content: "";
  background-image: url("img/background.jpg");
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.logo-large {
    height: 70px;
    border-radius: 5px;
    border: 1px solid rgba(80, 80, 80, 0.4);
    opacity: 0.85;
}

.list-group-item.active, .btn, .nav-item.active {
    background-color: #4994e4;
    border-color: #4994e4;
}

.nav-link {
    line-height: 2em;
}

.nav-item.active a {
    color: #f1f1f1;
}

.btn, .list-group-item:first-child, .list-group-item:last-child, .modal-content, .nav-item {
    border-radius: 3.5px;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.loading-mask {
    position: fixed;
    opacity: .75;
    background-color: gray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
}

.loading-mask:after {
    position: fixed;
    opacity: .5;
    color: #000;
    content: '\f110';
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16vw;
    margin-top: 42vh;
    margin-left: 42vw;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    z-index: 100000001;
}

.triggered-fee-list {
    margin-top: 35px;
}

.triggered-fee-list .list-group {
    margin-top: 10px;
}

.selected-fee-form {
    padding: 35px;
}

.selected-fee-form .form-group {
    padding: 20px;
}

.report {
    padding: 25px;
    position: relative;
}

.report .report-date {
    font-size: 1.25em;
    position: absolute;
    right: 30px;
    top: 40px;
}

.report h3 {
    padding-top: 10px;
}

.report .fee-report {
    padding: 20px;
}

.fee-report .report-content {
    padding-left: 20px;
}

.fee-report h4 {
    padding-bottom: 15px;
}

.ready-check {
    color: rgb(42, 162, 0);
}

.ready-check-circle {
    font-size: 1.6em;
}

.ready-check-background {
    color: #f1f1f1;
    font-size: 1.5em;
}

.list-group-item .ready-check-background {
    color: white;
}

.nav-link.disabled .ready-check-circle {
    color: #868e96;
}

.form-details {
    margin-top: 15px;
}

.print-btn {
    position: absolute;
    left: 250px;
    top: 30px;
}

.link-btn {
    position: absolute;
    right: 10px;
    top: 14px;
}

@media print {
    .print-btn {
        display: none;
    }
    .link-btn {
        display: none;
    }
    .navbar {
        display: none;
    }
    body {
        padding-top: 0;
    }
}
